@layer components {
  .alert {
    @apply px-4 py-1 rounded-button;

    & p {
      @apply my-0;
    }
  }

  /* extract into semantic colors maybe in future */
  .alert--note {
    /* use base-200-300 here */
    @apply bg-slate-100 border border-slate-200 dark:border-slate-800 dark:bg-slate-900;
  }
  .alert--info {
    @apply bg-blue-100 border border-blue-200 dark:border-blue-800 dark:bg-blue-900;
  }
  .alert--tip {
    @apply bg-green-100 border border-green-200 dark:border-green-800 dark:bg-green-900;
  }
  .alert--warning {
    @apply bg-orange-100 border border-orange-200 dark:border-orange-900 dark:bg-orange-950;
  }
  .alert--danger {
    @apply bg-red-100 border border-red-200 dark:border-red-800 dark:bg-red-900;
  }

  .alert__title {
    /* <p> has line-height: 1.7, h4 needs higher mt-1 */
    @apply flex items-center gap-1 mt-1;
  }
  .alert__title--note {
    @apply text-slate-900 dark:text-slate-100;
  }
  .alert__title--info {
    @apply text-blue-900 dark:text-blue-100;
  }
  .alert__title--tip {
    @apply text-green-900 dark:text-green-100;
  }
  .alert__title--warning {
    @apply text-orange-900 dark:text-orange-100;
  }
  .alert__title--danger {
    @apply text-red-900 dark:text-red-100;
  }
}
