@layer components {
  .link-default {
    /* hover, focus, active, visited */
    @apply text-links no-underline;
  }

  .link {
    @apply hover:text-links-hover hover:underline;
    @apply focus:text-links-hover focus:underline;
    @apply active:text-links-hover active:underline;
    /* @apply visited:text-links-visited; */
  }

  .link-no-underline {
    @apply link !no-underline;
  }

  .link-heading {
    @apply text-headings;
    @apply hover:text-links-hover;
    @apply focus:text-links-hover;
    @apply active:text-links-hover;
    /* @apply visited:text-links-visited; */
  }

  .link-nav {
    @apply whitespace-nowrap text-lg text-headings underline-offset-4;
    @apply hover:text-links-hover;
    @apply focus:text-links-hover focus:underline;
    @apply active:text-links-hover;
  }

  .link-disabled {
    @apply cursor-not-allowed text-content no-underline hover:text-content;
  }

  .animated-text-link {
    text-decoration: none;
    text-underline-offset: 2px;
    box-decoration-break: clone;
    z-index: 2;
    line-height: 1.5;
    @apply relative rounded transition-colors duration-500;
  }

  .animated-text-link:hover {
    @apply text-white dark:text-black;
    @apply bg-gradient-to-r from-red-800 via-yellow-600 to-yellow-500;
    @apply dark:bg-gradient-to-b dark:from-orange-500 dark:to-yellow-300;
  }

  .animated-text-link:focus {
    @apply bg-primary-200 rounded border-2 border-primary outline-none;
  }
}
