@layer components {
  .link-default {
    /* hover, focus, active, visited */
    @apply text-links no-underline;
  }

  .link {
    @apply hover:text-links-hover hover:underline;
    @apply focus:text-links-hover focus:underline;
    @apply active:text-links-hover active:underline;
    /* @apply visited:text-links-visited; */
  }

  .link-no-underline {
    @apply link !no-underline;
  }

  .link-heading {
    @apply text-headings;
    @apply hover:text-links-hover;
    @apply focus:text-links-hover;
    @apply active:text-links-hover;
    /* @apply visited:text-links-visited; */
  }

  .link-nav {
    @apply text-headings whitespace-nowrap underline-offset-4 text-lg;
    @apply hover:text-links-hover;
    @apply focus:text-links-hover focus:underline;
    @apply active:text-links-hover;
  }

  .link-disabled {
    @apply text-content hover:text-content no-underline cursor-not-allowed;
  }

  .animated-text-link {
    text-decoration: none;
    text-underline-offset: 2px;
    z-index: 2;
    line-height: 1.5;
    @apply relative;
  }

  .animated-text-link:after {
    background: none repeat scroll 0 0 transparent;
    left: 0;
    bottom: 0px;
    content: '';
    height: 0px;
    z-index: -1;
    @apply absolute block bg-yellow-400 w-full;
    transition:
      height 0.5s ease 0s,
      color 0.5s ease 0s;
  }

  .animated-text-link:hover:after {
    height: 30px;
  }

  .animated-text-link:hover {
    @apply text-black;
  }
}
