---

---

<div
  class="prose prose-slate max-w-none transition-colors duration-500 tab-2 hover:prose-a-img dark:prose-invert lg:prose-lg xl:prose-xl prose-headings:bg-gradient-to-br prose-headings:from-blue-700 prose-headings:to-purple-600 prose-headings:bg-clip-text prose-headings:text-transparent prose-h1:mb-8 prose-h1:leading-tight prose-a:text-blue-600 prose-a:no-underline prose-a:underline-offset-2 prose-a:outline-none prose-a:transition-all prose-a:duration-100 hover:prose-a:underline hover:prose-a:decoration-4 hover:prose-a:underline-offset-4 focus:prose-a:underline focus:prose-a:decoration-4 focus:prose-a:underline-offset-4 prose-code:rounded prose-code:px-1 prose-code:py-0.5 prose-code:text-sm prose-code:leading-none prose-pre:whitespace-pre-wrap prose-pre:rounded-md prose-pre:border prose-pre:border-slate-300 prose-pre:px-0 prose-pre:leading-none prose-th:font-bold prose-img:rounded-lg dark:prose-headings:from-blue-400 dark:prose-headings:to-purple-500 dark:prose-a:text-blue-400 dark:prose-pre:border-slate-800 lg:prose-h1:mb-8 lg:prose-h1:leading-tight lg:prose-code:text-base lg:prose-code:leading-tight lg:prose-pre:px-0 lg:prose-pre:leading-none xl:prose-h1:mb-8 xl:prose-h1:leading-tight xl:prose-code:text-base xl:prose-code:leading-tight xl:prose-pre:px-0 xl:prose-pre:leading-none"
>
  <slot />
</div>
