---
import { cn } from '@/utils/styles';

const classes = cn(
  // Typography and Layout
  'prose prose-slate max-w-none',
  'transition-colors duration-500 tab-2',

  // Hover and Dark Mode Styling
  'hover:prose-a-img dark:prose-invert',

  // Responsive Styling
  'lg:prose-lg xl:prose-xl',

  // Headings Styling
  'prose-headings:bg-gradient-to-br prose-headings:from-blue-700 prose-headings:to-purple-600',
  'prose-headings:bg-clip-text prose-headings:text-transparent prose-h1:mb-8 prose-h1:leading-tight',

  // Links Styling
  'prose-a:text-blue-600 prose-a:no-underline prose-a:underline-offset-2 prose-a:outline-none',
  'prose-a:transition-all prose-a:duration-100 hover:prose-a:underline hover:prose-a:decoration-4 hover:prose-a:underline-offset-4',
  'focus:prose-a:underline focus:prose-a:decoration-4 focus:prose-a:underline-offset-4',

  // Code Blocks Styling
  'prose-code:rounded prose-code:px-1 prose-code:py-0.5 prose-code:text-sm prose-code:leading-none',

  // Preformatted Text Styling
  'prose-pre:whitespace-pre-wrap prose-pre:rounded-md prose-pre:border prose-pre:border-slate-300 prose-pre:px-0 prose-pre:leading-none',

  // Table Header Styling
  'prose-th:font-bold',

  // Image Styling
  'prose-img:rounded-lg',

  // Dark Mode Specific Styling
  'dark:prose-headings:from-blue-400 dark:prose-headings:to-purple-500 dark:prose-a:text-blue-400 dark:prose-pre:border-slate-800',

  // Large Screen Styling
  'lg:prose-h1:mb-8 lg:prose-h1:leading-tight lg:prose-code:text-base lg:prose-code:leading-tight lg:prose-pre:px-0 lg:prose-pre:leading-none',

  // Extra Large Screen Styling
  'xl:prose-h1:mb-8 xl:prose-h1:leading-tight xl:prose-code:text-base xl:prose-code:leading-tight xl:prose-pre:px-0 xl:prose-pre:leading-none'
);
---

<div class={classes}>
  <slot />
</div>
