---
import { getImage } from 'astro:assets';

import ReactGallery from '@/components/react/Gallery';
import { IMAGE_SIZES } from '@/constants/image';
import { randomizeArray } from '@/utils/objects';
import { cn } from '@/utils/styles';

import type { ImageProps } from '@/types/common';
import type { ImageMetadata } from 'astro';

export interface Props extends astroHTML.JSX.HTMLAttributes {}

// filenames
const EXCLUDE_IMAGES = ['avatar1.jpg'];

const getAllImagesMetadata = (): ImageMetadata[] => {
  const imageModules = import.meta.glob<{ default: ImageMetadata }>(
    // cant be even variable
    '/src/assets/images/all-images/*.jpg',
    { eager: true }
  );

  // convert map to array
  const imagesMetadata = Object.keys(imageModules)
    // filter excluded filenames
    .filter((path) => !EXCLUDE_IMAGES.some((excludedFileName) => path.endsWith(excludedFileName)))
    // return metadata array
    .map((path) => imageModules[path].default);
  return imagesMetadata;
};

const imagesMetadata = getAllImagesMetadata();

const imageMetadataToReactImageProps = async (
  imagesMetadata: ImageMetadata
): Promise<ImageProps> => {
  const astroImageProps = {
    src: imagesMetadata,
    format: 'webp',
  };

  const thumbnailAstroImageProps = {
    ...astroImageProps,
    ...IMAGE_SIZES.FIXED.MDX_XS_16_9,
    alt: 'Thumbnail image',
  };

  const lightboxAstroImageProps = {
    ...astroImageProps,
    ...IMAGE_SIZES.FIXED.MDX_XL_16_9,
    alt: 'Lightbox image',
  };

  const optimizedThumbnailAstroImageProps = await getImage(thumbnailAstroImageProps);
  const { src, attributes } = optimizedThumbnailAstroImageProps;

  const optimizedLightboxAstroImageProps = await getImage(lightboxAstroImageProps);
  const { src: originalSrc } = optimizedLightboxAstroImageProps;

  const reactImageProps = {
    src,
    originalSrc,
    // width and height only for thumbnails
    width: parseInt(String(attributes.width)),
    height: parseInt(String(attributes.height)),
  };

  return reactImageProps;
};

const reactImages = await Promise.all(
  imagesMetadata.map((metadata) => imageMetadataToReactImageProps(metadata))
);

const randomizedReactImages = randomizeArray(reactImages);

// console.log('reactImages', reactImages);

const { class: className } = Astro.props;
---

<div class={cn('', className)}>
  <ReactGallery client:only="react" images={randomizedReactImages} />
</div>
