.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply font-bold text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply font-bold text-2xl mt-8 mb-4 leading-snug;
}

.markdown h4 {
  @apply font-bold text-xl mt-6 mb-4 leading-snug;
}

.markdown h5 {
  @apply font-bold text-lg mt-4 mb-4 leading-snug;
}

.markdown img {
  @apply rounded-lg mx-auto;
}

@media (min-width: 768px) {
  .markdown img {
    @apply max-w-lg;
  }
}

.markdown figcaption {
  @apply text-sm text-center mt-2 text-gray-700;
}

.markdown a[href] {
  text-decoration: none;
  @apply relative inline-block;
}

.markdown a[href]:before {
  background: none repeat scroll 0 0 transparent;
  left: 0;
  bottom: 3px;
  content: "";
  height: 4px;
  @apply absolute block w-full bg-gradient-to-r from-orange-400 via-red-500 to-pink-500;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.markdown a[href]:hover:before {
  @apply w-0;
}

.markdown a[href]:hover {
  @apply bg-gradient-to-r from-orange-400 via-red-500 to-pink-500;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.markdown code:not([class*="language-"]) {
  @apply bg-indigo-100 text-indigo-700 text-sm px-2 py-1 rounded;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.markdown pre[class*="language-"] {
  @apply p-4 rounded-lg text-sm overflow-auto;
}

.markdown blockquote {
  @apply bg-red-100 text-red-700 p-2 rounded-lg;
}
