.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply font-bold text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply font-bold text-2xl mt-8 mb-4 leading-snug;
}

.markdown h4 {
  @apply font-bold text-xl mt-6 mb-4 leading-snug;
}

.markdown h5 {
  @apply font-bold text-lg mt-4 mb-4 leading-snug;
}

.markdown figure {
  @apply relative;
}

@media (min-width: 768px) {
  .markdown figure {
    @apply max-w-4xl;
  }
}

.markdown img {
  @apply rounded-lg mx-auto;
}

@media (min-width: 768px) {
  .markdown img {
    @apply max-w-5xl;
  }
}

.markdown figcaption {
  @apply text-sm text-center mt-2;
}

.markdown a[href] {
  text-decoration: none;
  @apply border-dashed border-red-500 border-b-2 text-red-500;
}

.markdown a[href]:hover {
  @apply border-b-4 text-red-600;
}

.markdown li {
  @apply pb-1;
}

.markdown code:not([class*="language-"]) {
  @apply bg-indigo-100 text-indigo-700 text-sm px-2 py-1 rounded break-words;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.markdown pre[class*="language-"] {
  @apply p-4 rounded-lg text-sm overflow-auto;
}

.markdown blockquote {
  @apply bg-indigo-100 text-indigo-700 px-4 py-2 rounded-lg border-indigo-500 border-dashed border-4;
}

.markdown blockquote p {
  @apply m-0;
}
