---
import { Image } from 'astro:assets';

import Centered from '@/layouts/Centered.astro';
import SocialLinks from '@/components/SocialLinks.astro';
import { PROFILE } from '@/constants/profile';

import AvatarSrc from '@/assets/images/avatar.png';
---

<Centered
  metadata={{
    title: 'Homepage',
  }}
>
  <article class="flex flex-col">
    <div
      class="min-h-[calc(100vh-100px)] flex flex-col-reverse md:flex-row justify-center items-center gap-8 py-8 relative overflow-hidden"
    >
      <div class="max-w-[300px] flex flex-col gap-2">
        <div
          class="group relative flex max-w-fit flex-row items-center justify-center rounded-2xl bg-white/40 px-4 py-1.5 text-sm font-medium shadow-[inset_0_-8px_10px_#8fdfff1f] backdrop-blur-sm transition-shadow duration-500 ease-out [--bg-size:300%] hover:shadow-[inset_0_-5px_10px_#8fdfff3f] dark:bg-black/40"
        >
          <div
            class="absolute inset-0 block h-full w-full animate-gradient bg-gradient-to-r from-[#ffaa40]/50 via-[#9c40ff]/50 to-[#ffaa40]/50 bg-[length:var(--bg-size)_100%] p-[1px] ![mask-composite:subtract] [border-radius:inherit] [mask:linear-gradient(#fff_0_0)_content-box,linear-gradient(#fff_0_0)]"
          >
          </div>💅
          <hr class="mx-2 h-4 w-px shrink-0 bg-gray-300" />
          <span
            class="inline animate-gradient bg-gradient-to-r from-[#ffaa40] via-[#9c40ff] to-[#ffaa40] bg-[length:var(--bg-size)_100%] bg-clip-text text-transparent"
          >
            Frontend Web Developer
          </span>
        </div>
        <p>{PROFILE.TAGLINE}</p>
      </div>
      <div class="relative w-[250px] h-[250px]">
        <Image
          width={250}
          src={AvatarSrc}
          alt="MZP Avatar"
          class="z-10 relative"
          style="border-radius: 77% 23% 70% 30% / 48% 36% 64% 52%;"
        />
        <div
          class="z-0 w-[250px] h-[250px] bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 absolute top-0"
          style="border-radius: 35% 65% 47% 53% / 28% 60% 40% 72%;"
        >
        </div>
      </div>
      <div class="border-b-4 border-dashed p-8 border-yellow-400">
        <SocialLinks />
        <h1 class="mb-2 mt-4 font-serif text-5xl text-yellow-400">Irfan Maulana</h1>
        <p class="text-lg font-semibold">Call me as "mas ipan"</p>
      </div>

      <svg
        aria-hidden="true"
        class="pointer-events-none absolute top-0 inset-0 h-full w-full fill-neutral-400/80 [mask-image:radial-gradient(500px_circle_at_center,white,transparent)]"
      >
        <defs>
          <pattern
            id=":r0:"
            width="16"
            height="16"
            patternUnits="userSpaceOnUse"
            patternContentUnits="userSpaceOnUse"
            x="0"
            y="0"
          >
            <circle id="pattern-circle" cx="1" cy="1" r="1"></circle>
          </pattern>
        </defs>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#:r0:)"></rect>
      </svg>
    </div>
  </article>
</Centered>
