---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import Centered from '@/layouts/Centered.astro';
import RainbowTag from '@/components/RainbowTag.astro';
import { GradientBlobs } from '@/components/react/GradientBlobs';
import SocialLinks from '@/components/SocialLinks.astro';
import { PROFILE } from '@/constants/profile';

import AvatarSrc from '@/assets/images/avatar.png';
---

<script>
  const btnSwap = document.querySelector('#btn-swap-gradient');
  if (btnSwap) {
    btnSwap.addEventListener('click', function () {
      window.postMessage('swap_gradient');
    });
  }
</script>

<Centered
  metadata={{
    title: 'Homepage',
  }}
>
  <article class="flex flex-col">
    <div
      class="min-h-[calc(100vh-100px)] flex flex-col-reverse md:flex-row justify-center items-center gap-8 py-8 relative overflow-hidden"
    >
      <div class="max-w-[300px] flex flex-col gap-2">
        <RainbowTag emoji="💅" text="Frontend Web Developer" />
        <p>{PROFILE.TAGLINE}</p>
      </div>
      <div class="relative w-[250px] h-[250px]">
        <Image
          width={250}
          src={AvatarSrc}
          alt="MZP Avatar"
          class="z-10 relative transition-all duration-500"
          style="border-radius: 77% 23% 70% 30% / 48% 36% 64% 52%;"
        />
        <GradientBlobs
          className="z-0 w-[250px] h-[250px] absolute top-0 opacity-90"
          client:only="react"
        />
        <button
          role="button"
          type="button"
          class="absolute z-5 top-[165px] right-0 rounded-lg p-1 bg-yellow-400 text-black focus:bg-yellow-500 focus:ring-2 focus:ring-yellow-400 focus:ring-offset-2"
          id="btn-swap-gradient"
          title="Shuffle gradient"
          aria-label="Shuffle gradient"
        >
          <Icon name="tabler:refresh" class="h-4 w-4" />
        </button>
      </div>
      <div class="border-b-4 border-dashed p-8 border-yellow-400">
        <SocialLinks />
        <h1 class="mb-2 mt-4 font-serif text-5xl text-yellow-400">Irfan Maulana</h1>
        <p class="text-lg font-semibold">Call me "mas ipan"</p>
      </div>

      <svg
        aria-hidden="true"
        class="-z-[1] pointer-events-none absolute top-0 inset-0 h-full w-full fill-neutral-400/80 [mask-image:radial-gradient(500px_circle_at_center,white,transparent)]"
      >
        <defs>
          <pattern
            id=":r0:"
            width="16"
            height="16"
            patternUnits="userSpaceOnUse"
            patternContentUnits="userSpaceOnUse"
            x="0"
            y="0"
          >
            <circle id="pattern-circle" cx="1" cy="1" r="1"></circle>
          </pattern>
        </defs>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#:r0:)"></rect>
      </svg>
    </div>
  </article>
</Centered>
