---
import { CONFIG_CLIENT } from '@/config/client';
import { cn } from '@/utils/styles';

import type { HTMLAttributes } from 'astro/types';

const { SITE_URL } = CONFIG_CLIENT;

export interface BreadcrumbItem {
  href: string;
  text: string;
}

export interface Props extends HTMLAttributes<'nav'> {
  items: BreadcrumbItem[];
}

const { items, ...props } = Astro.props;

const schema = JSON.stringify({
  '@context': 'https://schema.org',
  '@type': 'BreadcrumbList',
  itemListElement: items.map((item, index) => {
    return {
      '@type': 'ListItem',
      position: index + 1,
      name: item.text,
      item: SITE_URL + item.href,
    };
  }),
});
---

<nav class={cn('my-2')} aria-label="breadcrumb" {...props}>
  <div class="flex items-center gap-2">
    {
      items.map((item) => (
        <a
          href={item.href}
          title={item.text}
          class="rounded-full bg-yellow-50 p-1 px-2 text-sm text-black no-underline hover:bg-yellow-200 hover:text-black hover:no-underline"
        >
          {item.text}
        </a>
      ))
    }
  </div>
</nav>
<script type="application/ld+json" set:html={schema} />
