---
import PostCardFeatured from './PostCardFeatured.astro';
import PostCardSmall from './PostCardSmall.astro';

import type { Post } from '@/types/post';

export interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
const [main, ...restPost] = posts;
---

<div class="featured mb-8 grid grid-cols-1 gap-8 md:grid-cols-3">
  <PostCardFeatured post={main} />
  {restPost.map((post) => <PostCardSmall post={post} withImage={true} />)}
</div>
