---
import PostCardSmall from './PostCardSmall.astro';

import type { Post } from '@/types/post';

export interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<div class="grid grid-cols-1 gap-8 md:grid-cols-3">
  {posts.map((post) => <PostCardSmall post={post} withImage={true} />)}
</div>
