@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --bg-primary: #111827;
  --text-primary: #F7FAFC;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.light {
  --bg-primary: #F3F4F6;
  --text-primary: #1A202C;
}

.header-def {
  @apply flex justify-between items-center mb-20 mt-8;
}

.text-gradient {
  @apply bg-gradient-to-r from-amber-400 via-red-500 to-pink-500;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-image 0.5s ease-in-out;
}

.text-gradient:hover {
  @apply bg-gradient-to-r from-pink-500 via-red-500 to-amber-400;
}

.border-bottom-gradient:before {
  background: none repeat scroll 0 0 transparent;
  left: 0;
  bottom: 0;
  content: "";
  height: 4px;
  @apply absolute block w-full bg-gradient-to-r from-amber-400 via-red-500 to-pink-500;
}

.border-top-gradient:before {
  background: none repeat scroll 0 0 transparent;
  left: 0;
  top: 0;
  content: "";
  height: 4px;
  @apply absolute block w-full bg-gradient-to-r from-amber-400 via-red-500 to-pink-500;
}

.text-link {
  text-decoration: none;
  @apply relative;
}

.text-link:before {
  background: none repeat scroll 0 0 transparent;
  left: 0;
  bottom: -5px;
  content: "";
  height: 4px;
  @apply absolute block w-full bg-gradient-to-r from-amber-400 via-red-500 to-pink-500;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.text-link:hover:before {
  @apply w-0;
}

.text-link:hover {
  @apply bg-gradient-to-r from-amber-400 via-red-500 to-pink-500;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rubberBand:hover {
  animation-name: rubberBand;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rainbow {
	position: relative;
	z-index: 0;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	padding: 2rem;
}

.rainbow::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
  animation: rotate 4s linear infinite;
}

.rainbow::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border-radius: 5px;
  background-color: var(--bg-primary);
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.h1 {
  @apply text-6xl font-bold tracking-tighter leading-tight;
}

.h2 {
  @apply text-2xl font-bold tracking-tight leading-tight;
}

.featured-image {
  min-width: 300px;
  margin-right: 1em;
}

/* On Desktop ONLY */
@media (min-width: 768px) {
  .h2 {
    @apply text-4xl tracking-tighter;
  }
}

/* On Mobile ONLY */
@media (max-width: 768px) {
  .featured-image {
    width: 100%;
    margin-bottom: 1em;
  }
}

.highlight-line {
  background-color: rgb(53, 59, 69);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.3em solid #f99;
}

.code-line {
  padding-right: 1em;
  user-select: none;
  opacity: 0.5;
}

.content-container {
  width: 100%;
  max-width: 768px;
}
