---
import { getAllProjects } from '@/modules/project';
import List from '@/layouts/List.astro';
import Breadcrumbs from '@/components/Breadcrumbs.astro';
import ProjectList from '@/components/ProjectList.astro';
import { BreadcrumbItemHome } from '@/constants/breadcrumb';
import { CONFIG_CLIENT } from '@/config/client';
import { getPageMetadata } from '@/utils/metadata';
import { pickPaginationPropsFromPage } from '@/utils/pagination';

import type { ProjectCollection } from '@/types/project';
import type { GetStaticPathsOptions, Page } from 'astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const sortedProjects = await getAllProjects();
  const pageSize = CONFIG_CLIENT.PAGE_SIZE_POST_CARD;

  const pagination = paginate(sortedProjects, { pageSize });
  pagination.push({ params: { page: '1' }, props: pagination[0].props });
  return pagination;
}

type Props = {
  page: Page<ProjectCollection>;
};

const { page } = Astro.props;
const { data: projects } = page;

const paginationProps = pickPaginationPropsFromPage(page);

const metadata = getPageMetadata('lists/projects');

const layoutProps = { metadata, paginationProps };
const breadcrumbs = [BreadcrumbItemHome];
---

<List {...layoutProps}>
  <section slot="heading">
    <Breadcrumbs items={breadcrumbs} />
    <h1 class="b-h1">{metadata.title}</h1>
  </section>
  <ProjectList {projects} />
</List>
