@layer base {
  /* default-light */
  :root {
    /* background */
    --th-base-100: theme('colors.orange.100');
    --th-base-200: theme('colors.orange.200');
    --th-base-300: theme('colors.orange.300');
    --th-base-code: theme('colors.slate.400');

    /* reused from tw-prose-xxx */
    --th-content: theme('colors.slate.700');
    --th-headings: theme('colors.orange.900');
    --th-captions: theme('colors.slate.500');

    --th-primary-50: theme('colors.orange.50');
    --th-primary-100: theme('colors.orange.100');
    --th-primary-200: theme('colors.orange.200');
    --th-primary: theme('colors.orange.900');
    --th-primary-hover: theme('colors.orange.800');
    --th-primary-content: theme('colors.white');

    --th-primary-base-200: theme('colors.blue.100');
    --th-primary-base-300: theme('colors.blue.200');

    /* links and primary same color */
    --th-links: theme('colors.orange.900');
    --th-links-hover: theme('colors.orange.800');
    --th-links-visited: theme('colors.orange.950');

    --th-secondary: theme('colors.orange.400');
    --th-secondary-hover: theme('colors.orange.600');
    --th-secondary-content: theme('colors.white');

    --th-accent: theme('colors.teal.400');
    --th-accent-hover: theme('colors.teal.600');
    --th-accent-content: theme('colors.slate.700');

    /* border radius, default for all themes */
    /* rounded-md, rounded-lg, rounded-full */
    --th-rounded-box: 0.175rem;
    --th-rounded-button: 0.25rem;
    --th-rounded-tag: 9999px;

    /* change fonts in theme too */
  }

  /* default-dark */
  :root.dark {
    /* background */
    --th-base-100: theme('colors.slate.800');
    --th-base-200: theme('colors.slate.900');
    --th-base-300: theme('colors.slate.950');
    --th-base-code: theme('colors.slate.700');

    /* reused from tw-prose-invert-xxx */
    --th-content: theme('colors.slate.300');
    --th-headings: theme('colors.yellow.400');
    --th-captions: theme('colors.slate.400');

    --th-primary-50: theme('colors.yellow.50');
    --th-primary-100: theme('colors.yellow.100');
    --th-primary-200: theme('colors.yellow.200');
    --th-primary: theme('colors.yellow.400');
    --th-primary-hover: theme('colors.yellow.500');
    --th-primary-content: theme('colors.slate.900');

    --th-primary-base-200: theme('colors.blue.600');
    --th-primary-base-300: theme('colors.blue.700');

    --th-links: theme('colors.yellow.400');
    --th-links-hover: theme('colors.yellow.500');
    --th-links-visited: theme('colors.yellow.600');

    --th-secondary: theme('colors.orange.400');
    --th-secondary-hover: theme('colors.orange.600');
    --th-secondary-content: theme('colors.white');

    --th-accent: theme('colors.teal.400');
    --th-accent-hover: theme('colors.teal.600');
    --th-accent-content: theme('colors.slate.300');
  }
}
