---
import { Icon } from 'astro-icon/components';

import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import ScrollToTop from '@/components/react/ScrollToTop';
import Breakpoints from '@/components/utils/breakpoints.astro';

import type { BaseHeadProps } from '@/components/BaseHead.astro';

export interface BaseProps extends BaseHeadProps {}

const { metadata } = Astro.props as BaseProps;
---

<html lang="en">
  <BaseHead {metadata} />
  <body
    class="relative flex min-h-screen min-w-80 flex-col scroll-smooth bg-base-100 transition-colors duration-500"
  >
    <Header />
    <div id="app-body" class="app-body relative mt-[65px]">
      <slot />
    </div>
    <Footer />

    <ScrollToTop client:only="react">
      <Icon name="tabler:arrow-up" class="h-6 w-6 text-content hover:text-links-hover" />
    </ScrollToTop>

    <Breakpoints />
  </body>
</html>
