---
import Centered from '@/layouts/Centered.astro';
import Pagination from '@/components/Pagination.astro';

import type { BaseProps } from '@/layouts/Base.astro';
import type { PaginationProps } from '@/types/common';

export interface Props extends BaseProps {
  paginationProps?: PaginationProps;
}

const { paginationProps, metadata } = Astro.props;
const { title, description } = metadata;
---

<Centered {metadata}>
  <article class="flex flex-col">
    <slot name="heading">
      <h1 class="b-h1">{title}</h1>
      {description && <p class="b-p mb-5">{description}</p>}
    </slot>
    <section class="flex-grow flex flex-col">
      <slot />
      <div class="mt-auto">
        {paginationProps && <Pagination {...paginationProps} class="mt-6" />}
      </div>
    </section>
  </article>
</Centered>
