@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --bg-primary: #1A202C;
  --text-primary: #F7FAFC;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.light {
  --bg-primary: #F7FAFC;
  --text-primary: #1A202C;
}
/* Your own custom utilities */
.header-def {
  @apply flex justify-between items-center mb-20 mt-8;
}

.text-gradient {
  @apply bg-gradient-to-r from-orange-400 via-red-500 to-pink-500;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h1 {
  @apply text-6xl font-bold tracking-tighter leading-tight;
}

.h2 {
  @apply text-2xl font-bold tracking-tight leading-tight;
}


@media (min-width: 768px) {
  .h2 {
    @apply text-4xl tracking-tighter;
  }
}

