@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --bg-primary: #1A202C;
  --text-primary: #F7FAFC;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.light {
  --bg-primary: #F7FAFC;
  --text-primary: #1A202C;
}
/* Your own custom utilities */
.header-def {
  @apply flex justify-between items-center mb-20 mt-8;
}

.text-gradient {
  @apply bg-gradient-to-r from-orange-400 via-red-500 to-pink-500;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-link {
  text-decoration: none;
  @apply relative inline-block;
}

.text-link:before {
  background: none repeat scroll 0 0 transparent;
  left: 0;
  bottom: 0;
  content: "";
  height: 4px;
  @apply absolute block w-full bg-gradient-to-r from-orange-400 via-red-500 to-pink-500;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.text-link:hover:before {
  @apply w-0;
}

.text-link:hover {
  @apply bg-gradient-to-r from-orange-400 via-red-500 to-pink-500;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rubberBand:hover {
  animation-name: rubberBand;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.h1 {
  @apply text-6xl font-bold tracking-tighter leading-tight;
}

.h2 {
  @apply text-2xl font-bold tracking-tight leading-tight;
}


@media (min-width: 768px) {
  .h2 {
    @apply text-4xl tracking-tighter;
  }
}

/* inside of my custom theme */
/**
 * Handles the actual highlighting process.
 * Feel free to customize this.
 */
.highlight-line {
  background-color: rgb(53, 59, 69);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.3em solid #f99;
}

.code-line {
  padding-right: 1em;
  user-select: none;
  opacity: 0.5;
}
