.markdown {
  @apply text-lg leading-relaxed;
  /* font-size: 1.125rem; */
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply font-heading font-bold text-3xl mt-6 mb-6 leading-snug;
}

.markdown h3 {
  @apply font-heading font-bold text-2xl mt-4 mb-4 leading-snug;
}

.markdown h4 {
  @apply font-heading font-bold text-xl mt-2 mb-2 leading-snug;
}

.markdown h5 {
  @apply font-heading font-bold text-lg mt-2 mb-2 leading-snug;
}

@media (min-width: 768px) {
  .markdown img {
    @apply max-w-5xl;
  }
}

.markdown a[href] {
  text-decoration: none;
  @apply border-dashed border-red-500 border-b-2 text-red-500;
}

.markdown a[href]:hover {
  @apply border-b-4 text-red-600;
}

.markdown li {
  @apply pb-1;
}

.markdown p>code,
.markdown li>code {
  @apply bg-indigo-100 text-indigo-700 text-sm px-2 py-1 rounded break-words;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.markdown pre.shiki {
  @apply pt-6 rounded-lg overflow-auto relative;

  font-size: 0.875rem;
  line-height: 1rem;
}

.markdown .shiki .line {
  padding-left: 1em;
}

.markdown .shiki .focused {
  border-left: 1px solid yellow;
  background-color: rgb(141 92 255 / 30%);
}

.markdown pre.shiki::before {
  @apply absolute top-0 left-2 rounded-b-md px-2 py-0.5 text-xs bg-indigo-300 text-black;
  content: attr(data-lang);
}

.markdown pre[data-lang="bash"]::before, .markdown pre[data-lang="shell"]::before {
  @apply bg-violet-300;
}

.markdown pre[data-lang="yaml"]::before, .markdown pre[data-lang="yml"]::before {
  @apply bg-emerald-300;
}

.markdown pre[data-lang="bash"]::before, .markdown pre[data-lang="css"]::before {
  @apply bg-blue-500;
}

.markdown pre[data-lang="ts"]::before, .markdown pre[data-lang="typescript"]::before {
  @apply bg-blue-300;
}

.markdown pre[data-lang="js"]::before, .markdown pre[data-lang="javascript"]::before {
  @apply bg-amber-300;
}

.markdown pre[data-lang="svelte"]::before {
  background-color: #f96743;
  color: #fff;
}

.markdown blockquote {
  @apply bg-indigo-100 text-indigo-700 px-4 py-2 rounded-lg border-indigo-500 border-dashed border-4;
}

.markdown blockquote p {
  @apply m-0;
}
