/* Post content, entire Page, entire Project */

/* prose override */
@layer base {
  .my-prose:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    @apply prose prose-slate dark:prose-invert max-w-none;

    /* responsive styling */
    /* all tags */
    @apply md:prose-lg;

    /* limit just h1 */
    @apply prose-h1:text-3xl md:prose-h1:text-4xl lg:prose-h1:text-5xl;
    @apply prose-h1:font-bold;
    @apply prose-h1:font-serif;
    @apply prose-h1:text-links;

    /* a */
    a {
      @apply rounded decoration-dashed underline-offset-2;

      &:hover {
        @apply text-primary decoration-primary dark:text-primary dark:decoration-primary decoration-wavy;
      }

      &:focus {
        @apply text-primary ring-primary dark:text-primary no-underline ring-2 ring-offset-2 outline-none;
      }
    }

    /* image */
    @apply prose-img:rounded-2xl;

    /* code */
    code {
      @apply bg-base-200 text-primary dark:bg-base-200 me-2 rounded px-1 py-0.5 font-mono text-sm font-light dark:text-white;
      margin-inline-end: 0;
    }

    /* vertical margins */
    .toc,
    .expressive-code,
    .alert {
      @apply b-p-my;
    }

    .expressive-code {
      text-rendering: optimizeLegibility;
      font-variant-ligatures: common-ligatures;
    }
  }
}
