/*------------------------------------------------------------------------
 * All custom component styles myst be complete. Tag components.
 * Should override my-prose. Doesn't repeat all from prose.
 * Use not-prose to undo prose without repeating all here.
 *------------------------------------------------------------------------*/

@layer base {
  .b-h1,
  .b-h2,
  .b-h3,
  .b-h4 {
    @apply text-headings;
  }

  .b-h1 {
    @apply text-3xl sm:text-4xl md:text-5xl font-serif;
    @apply font-bold;
    @apply mb-6 md:mb-8 lg:mb-10;
  }

  .b-h2 {
    @apply text-2xl md:text-3xl;
    @apply font-bold;
    @apply mt-12 mb-6 md:mt-14 md:mb-8;
  }

  .b-h3 {
    @apply text-xl md:text-2xl;
    @apply font-bold;
    @apply mb-4;
  }

  .b-h4 {
    @apply text-base md:text-lg;
    @apply font-bold;
    @apply mb-2;
  }

  /* h5, h6 */

  .b-p {
    @apply text-content;
    @apply text-base sm:text-lg;
  }

  /* vertical margins (my-) */

  /* like p */
  .b-p-my {
    @apply my-5 md:my-6;
  }

  /* my- like h2, mt-, mb- first and last child */
  .b-h2-mt {
    @apply mt-12 md:mt-14;
  }

  .b-h2-mb {
    @apply mb-6 md:mb-8;
  }

  .b-h2-my {
    @apply b-h2-mb b-h2-mt;
  }
}
